<!doctype html>
<html>
    <head>
        <title>Home page</title>
    
        <link rel="stylesheet" href="/static/css/retro.css">   
        <script src="/static/js/index.js"></script>   
    </head>
    <body>
        <h3>Tags</h3>
        <ul>
            {% for tag in tags %}
                <input type="checkbox" id="{{tag}}" value="{{tag}}" onclick="tag_clicked('{{tag}}', '{{tags_current}}')" {{"checked" if tag in tags_current}}>
                <label for="{{tag}}">{{tag.replace("_"," ").title()}}</label><br>
            {% endfor %}
        </ul>
        <h3>Models</h3>
        <ul>
            {% for model in models %}
                 <li><a href="/view?model={{model.slug}}">{{model.title}}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>